html {
    font-family: "raleway";
  }
  
  p {
    color: maroon;
  }


  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (min-width : 1224px) {
  
  .row {
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media only screen and (min-width : 768px) and (max-width : 1224px) {

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 45%;
    max-width: 45%;
    padding: 0 4px;
  }
}


