html {
  text-align: center !;
}
.detailBrand{
  text-align: "center";
  padding: 70px 0;
}
@media (min-width: 1224px) {
  .img-detail-wrapper {
    height: 50%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
}
